<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>sign_up</servlet-name>
        <servlet-class>sign_up</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_item_details_map</servlet-name>
        <servlet-class>get_item_details_map</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_derection</servlet-name>
        <servlet-class>get_derection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewBill</servlet-name>
        <servlet-class>viewBill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_bill_details</servlet-name>
        <servlet-class>get_bill_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_popular_item</servlet-name>
        <servlet-class>get_popular_item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>make_bill</servlet-name>
        <servlet-class>make_bill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_cart</servlet-name>
        <servlet-class>update_cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reset</servlet-name>
        <servlet-class>reset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>find_nearest_shop</servlet-name>
        <servlet-class>find_nearest_shop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getRfidDetails</servlet-name>
        <servlet-class>getRfidDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistration</servlet-name>
        <servlet-class>UserRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_itemid_details</servlet-name>
        <servlet-class>get_itemid_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pay</servlet-name>
        <servlet-class>pay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_belt_status</servlet-name>
        <servlet-class>get_belt_status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>collect</servlet-name>
        <servlet-class>collect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verify_qr</servlet-name>
        <servlet-class>verify_qr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_employee</servlet-name>
        <servlet-class>add_employee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirm_my_items</servlet-name>
        <servlet-class>confirm_my_items</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check_scanned_item</servlet-name>
        <servlet-class>check_scanned_item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_check</servlet-name>
        <servlet-class>login_check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check_task</servlet-name>
        <servlet-class>check_task</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_scanned_product</servlet-name>
        <servlet-class>add_scanned_product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_my_items</servlet-name>
        <servlet-class>get_my_items</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check_expiry</servlet-name>
        <servlet-class>check_expiry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_sub_user</servlet-name>
        <servlet-class>add_sub_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_check1</servlet-name>
        <servlet-class>login_check1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check_expired_item</servlet-name>
        <servlet-class>check_expired_item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check_barcode</servlet-name>
        <servlet-class>check_barcode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_qty</servlet-name>
        <servlet-class>update_qty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_dates</servlet-name>
        <servlet-class>update_dates</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>get_item_details_map</servlet-name>
        <url-pattern>/get_item_details_map</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_derection</servlet-name>
        <url-pattern>/get_derection</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>empRegister</servlet-name>
        <servlet-class>empRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>storeItemRegister</servlet-name>
        <servlet-class>storeItemRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>storeShelfRegister</servlet-name>
        <servlet-class>storeShelfRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>itemOffer</servlet-name>
        <servlet-class>itemOffer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rfidRegister</servlet-name>
        <servlet-class>rfidRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>storePlan</servlet-name>
        <servlet-class>storePlan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>billing</servlet-name>
        <servlet-class>billing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>billing_arr</servlet-name>
        <servlet-class>billing_arr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_item_details</servlet-name>
        <servlet-class>get_item_details</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sign_up</servlet-name>
        <url-pattern>/sign_up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>empRegister</servlet-name>
        <url-pattern>/empRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storeItemRegister</servlet-name>
        <url-pattern>/storeItemRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storeShelfRegister</servlet-name>
        <url-pattern>/storeShelfRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>itemOffer</servlet-name>
        <url-pattern>/itemOffer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rfidRegister</servlet-name>
        <url-pattern>/rfidRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storePlan</servlet-name>
        <url-pattern>/storePlan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>billing</servlet-name>
        <url-pattern>/billing</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>billing_arr</servlet-name>
        <url-pattern>/billing_arr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_item_details</servlet-name>
        <url-pattern>/get_item_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewBill</servlet-name>
        <url-pattern>/viewBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_bill_details</servlet-name>
        <url-pattern>/get_bill_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_popular_item</servlet-name>
        <url-pattern>/get_popular_item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>make_bill</servlet-name>
        <url-pattern>/make_bill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_cart</servlet-name>
        <url-pattern>/update_cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reset</servlet-name>
        <url-pattern>/reset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>find_nearest_shop</servlet-name>
        <url-pattern>/find_nearest_shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getRfidDetails</servlet-name>
        <url-pattern>/getRfidDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistration</servlet-name>
        <url-pattern>/UserRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_itemid_details</servlet-name>
        <url-pattern>/get_itemid_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pay</servlet-name>
        <url-pattern>/pay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_belt_status</servlet-name>
        <url-pattern>/get_belt_status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>collect</servlet-name>
        <url-pattern>/collect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verify_qr</servlet-name>
        <url-pattern>/verify_qr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_employee</servlet-name>
        <url-pattern>/add_employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirm_my_items</servlet-name>
        <url-pattern>/confirm_my_items</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check_scanned_item</servlet-name>
        <url-pattern>/check_scanned_item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_check</servlet-name>
        <url-pattern>/login_check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check_task</servlet-name>
        <url-pattern>/check_task</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_scanned_product</servlet-name>
        <url-pattern>/add_scanned_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_my_items</servlet-name>
        <url-pattern>/get_my_items</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check_expiry</servlet-name>
        <url-pattern>/check_expiry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_sub_user</servlet-name>
        <url-pattern>/add_sub_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_check1</servlet-name>
        <url-pattern>/login_check1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check_expired_item</servlet-name>
        <url-pattern>/check_expired_item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check_barcode</servlet-name>
        <url-pattern>/check_barcode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_qty</servlet-name>
        <url-pattern>/update_qty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_dates</servlet-name>
        <url-pattern>/update_dates</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            abx.jsp
        </welcome-file>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
